---
---

@import "{{ site.theme }}";

ul li {
    list-style-type: ">> ";
    list-style-image: unset;
}

ul li::marker {
    color: #b5e853;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(181, 232, 83, 0.1), 0 0 10px rgba(181, 232, 83, 0.1);
}

.logo {
    vertical-align: middle;
}

pre {
    display: inline-block;
    line-height: 1em;
}